[2016-01-12 21:03] AndersEverett commented on #1346
d139163 Moved the pager row down with next/search/previous components.

[2016-01-12 23:50] shindostrz opened #1351 "Change FixerWorker initial state from :working to :created"
This was throwing an error in Audiosear.ch so we should see if it's also happening in PUA, and if so fix it by changing the initial state. The method is in fixer_worker.rb.

[2016-01-13 20:10] Saltzshaker commented on #1331
![screen shot 2016-01-13 at 12 08 22 pm](https://cloud.githubusercontent.com/assets/8497203/12306421/7d09a7d8-b9ee-11e5-8ab5-ac54efe99627.png)
Link appears on pricing page and goes to FAQ for one-time use. One question: I apparently left in the 10% discount part on the opposite side. @baileyspace @annewootton is it too busy with them both? Should I change it to replace the 10% discount section as

[2016-01-13 20:12] annewootton commented on #1331
I'm okay with it as-is but defer to @baileyspace on design.

On Wed, Jan 13, 2016 at 12:10 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-01-13 20:32] baileyspace commented on #1331
I'd prefer replacing it.

[2016-01-13 20:37] Saltzshaker commented on #1300
![screen shot 2016-01-13 at 12 13 50 pm](https://cloud.githubusercontent.com/assets/8497203/12306549/37af89e0-b9ef-11e5-9466-4ebd975f5d88.png)
Upgrade prompt is only supposed to appear to demo plan users on their own premium items.
Prompt currently appears on **all premium items** for any user, whether signed into a demo plan, 5-hr plan, and even for users who aren't signed in. Reassigning to @And

[2016-01-13 21:00] Saltzshaker opened #1352 "Write rake task to get usage info for Mixpanel retroactively"
https://github.com/popuparchive/pop-up-archive/issues/1333 will log the usage activity of users going forward, but we also need to run a rake task to update the info in mixpanel to include past upload activity.

We want to see all audio uploaded by each user, and whether they're over their limit at any given time.

[2016-01-13 22:27] Saltzshaker commented on #1320
Ran through the referral flow and encountered a few issues. I'll summarize them with screenshots here. Then I'll talk to @AndersEverett and figure out the best tickets to make out of these issues.

**1. Demo users see Demo plan referral page variant** - YES - although they see combo message as page loads
![screen shot 2016-01-13 at 1 51 58 pm](https://cloud.githubusercontent.com/assets/8497203/123

[2016-01-13 22:46] annewootton commented on #1331
Or — would there be another, better place for it? I ask only because we
actually had a person sign up for an annual plan in the last month.

On Wed, Jan 13, 2016 at 12:32 PM, Bailey Smith <notifications@github.com>
wrote:

[2016-01-13 23:08] Saltzshaker opened #1353 "[Referral Program] Notify paid users of discount when their invitee signs up"
Users on paid plans get a 20% discount on their next month when someone they refer signs up for a paid plan. Create email alerting the paid user when they get the discount.

---

From: edison@popuparchive.com
Subject: You just earned a discount for your Pop Up Archive plan!
Email: Hi {Username},

Someone you invited to Pop Up Archive just signed up for a paid plan. That means we'll knock off 20% f

[2016-01-14 02:35] Saltzshaker commented on #1320
View changes:
* Users invited to sign up should see this when they click on a plan:
"Your #PopUpFriend discount will applied to your first invoice. Thanks!
Total: $ discounted plan amount" (following same model as above for #DemoDiscount
* Delete "Enter 3+ emails and press send to see your promo code!" Replace with "Make sure you're ready to redeem your discount as soon as you send the invites! Yo

[2016-01-14 02:39] Saltzshaker commented on #1320
@AndersEverett will make the changes to the UI/mailers listed above. Plan changes aren't working in staging, so I'll test the rest of the functionality in production, before we start linking to the referral page.

Also, @AndersEverett, is it possible to make the #PopUpFriend pricing page viewable to users who don't have accounts yet and thus aren't logged in?

[2016-01-14 22:24] baileyspace commented on #1343
@AndersEverett Looks like it's getting hung up. I created a task for file 21178 task number 446520 in staging. Look like the transcript is complete but task is still working. If I run finish_task then I get:

NoMethodError: undefined method `[]' for nil:NilClass
	from /app/app/models/tasks/voicebase_transcribe_task.rb:263:in `finish_task'
	from (irb):14
	from /app/vendor/bundle/ruby/2.0.0/gems/rai

[2016-01-14 23:29] Saltzshaker commented on #1334
Since upgrading isn't working in staging, need to test in production

[2016-01-14 23:33] Saltzshaker commented on #1320
Confirmed that new users trying to redeem the #PopUpFriend discount get discount messaging on the sign-up page. If possible, I think we should add UI messaging on the pricing page in this scenario as well so that it says "Get 20% off now with our #PopUpFriend discount!" Adding this change to the list of view changes above.
![screen shot 2016-01-14 at 3 28 41 pm](https://cloud.githubusercontent.com

[2016-01-15 01:13] annewootton opened #1354 "www.popuparchive.org doesn't work"
Have we discussed this before?

If it can't be fixed easily, we should change the website linked from https://itunes.apple.com/us/podcast/popcast/id970535981?mt=2 because people have contacted me to say it's broken.

[2016-01-15 01:16] annewootton commented on #1331
I'm fine with replacing the 10% discount line if @baileyspace has no other thoughts on this.

In that case, I would like to vote that the one-time processing messaging be right-justified.

[2016-01-15 01:31] Saltzshaker commented on #1331
I changed the placement to be right-justified and replacing the 10% discount line: https://github.com/popuparchive/pop-up-archive/commit/b4fa111484abbd91f23008ed98f0c9a5961422f8
Once it's merged into Sal, I'll mark this ready to deploy

[2016-01-15 01:38] Saltzshaker commented on #1354
I changed the website to popuparchive.com in SoundCloud feed. The iTunes page should update soon. I'll check tomorrow.

[2016-01-15 22:59] Saltzshaker opened #1355 "UI Changes for Referral Program"
View changes:

* Users invited to sign up should see this when they click on a plan: "Your #PopUpFriend discount will applied to your first invoice. Thanks! Total: $ discounted plan amount" (following same model in the screenshot above for #DemoDiscount)
* Delete "Enter 3+ emails and press send to see your promo code!" Replace with "Make sure you're ready to redeem your discount as soon as you sen

[2016-01-15 23:12] Saltzshaker commented on #1320
Moved UI changes to a new ticket in Megan https://github.com/popuparchive/pop-up-archive/issues/1355 and marking this as ready to deploy

[2016-01-16 00:14] baileyspace commented on #1343
WARNING: Can't mass-assign protected attributes for Speaker: speakerLabel
	app/models/tasks/voicebase_transcribe_task.rb:420:in `block in create_speakers'
	app/models/tasks/voicebase_transcribe_task.rb:418:in `each'
	app/models/tasks/voicebase_transcribe_task.rb:418:in `create_speakers'
	app/models/tasks/voicebase_transcribe_task.rb:350:in `block in process_transcript'
	app/models/tasks/voicebase_

[2016-01-16 00:24] baileyspace commented on #1343
It's something in here:

    speakers_by_name.keys.each do |n|
      times = speakers_by_name[n].collect{|r| [BigDecimal.new(r['start'].fdiv(1000).to_s), (BigDecimal.new(r['start'].fdiv(1000).to_s) + BigDecimal.new(r['length'].fdiv(1000).to_s))] }
      speakers_lookup[n] = trans.speakers.create(speakerLabel: n, times: times)
    end

[2016-01-16 00:51] Saltzshaker commented on #1333
Will test the over-limit property in production. "Hours remaining" now appears as a Mixpanel people property:
![screen shot 2016-01-15 at 4 50 16 pm](https://cloud.githubusercontent.com/assets/8497203/12369175/415bb4ea-bba8-11e5-85f1-3c8442fb6cc4.png)

[2016-01-16 01:05] AndersEverett commented on #1300
visibility fixed with a84e67ba461c620164

[2016-01-16 01:28] AndersEverett commented on #1300
linked to pricing 5d3fa8d

[2016-01-19 00:55] AndersEverett commented on #1209
b3f5b178d5aa2 and b3f5b178d5aa24 add block after upload if cumulative `duration` for current month is over limit. As discussed, interface flow for this may be further developed with an additional warning, modal, or deletion of file. 9eb24e3 adds a message to the upload modal with monthly usage.

[2016-01-19 23:03] Saltzshaker commented on #1354
Podcast website link now points to popuparchive.com. Assigning to @baileyspace to deal with underlying .org issue

[2016-01-19 23:10] annewootton commented on #1354
popuparchive.org redirects to https://www.popuparchive.com. We can't redirect from https://www.popuparchive.org or www.popuparchive.org without getting a separate SSL certificate for popuparchive.org. We're not going to do that, so I'm closing this!

[2016-01-19 23:10] #1354 closed

[2016-01-20 18:41] #479 closed

[2016-01-20 18:46] Saltzshaker commented on #1330
Speaker numbering is funky and nonsequential, but functional. Will write to Bryon about the numbering, but in the meantime this isn't a dealbreaker for deploying Sal.

500 error when assigning speakers with the select2 box:
![screen shot 2016-01-20 at 10 39 18 am](https://cloud.githubusercontent.com/assets/8497203/12459320/fda16362-bf62-11e5-8e64-d8d8be5207f3.png)

[2016-01-20 19:51] Saltzshaker commented on #1330
Speaker assignment works! Marking ready-to-deploy.
![screen shot 2016-01-20 at 11 50 52 am](https://cloud.githubusercontent.com/assets/8497203/12461139/288be77e-bf6c-11e5-8d08-5c3a3358fdc0.png)

[2016-01-20 20:23] Saltzshaker commented on #1300
Links to pricing, and message no longer appears on items not owned by the user.

However, message should only appear for demo users. Right now it's appearing for users on the five-hour plan as well, e.g. https://pop-up-archive-staging.herokuapp.com/collections/5823/items/44535

Re-assigning to @AndersEverett
![screen shot 2016-01-20 at 12 22 01 pm](https://cloud.githubusercontent.com/assets/849720

[2016-01-20 20:43] AndersEverett commented on #1300
Added extra check for premium account : dd4168c

[2016-01-20 20:45] Saltzshaker commented on #1300
@AndersEverett do you mean a check for the demo account? Will this prevent users on paying plans (e.g. the five-hour plan i tested above) from seeing the upgrade message?

[2016-01-20 22:22] AndersEverett commented on #1300
Updated the code with be1d86b. Should work now so only demo plan with completed premium transcripts will see the alert. In staging

[2016-01-22 01:25] Saltzshaker commented on #1300
:+1: ready to deploy!

[2016-01-22 23:56] Saltzshaker commented on #1345
Some preliminary UI ideas:
1. Users haven't always understood that the speaker IDs represent speaker changes. Add colon to right of speaker ID to make it more clear that they designate speaker breaks.
2. Repeating speaker ID on every line in edit mode makes it hard to scan. Only show once per speaker change, and over hover have indication that you can change the speaker labels if need be.
e.g.
![s

[2016-01-26 19:33] AndersEverett commented on #1353
Added the mailer in 0c20e47.

[2016-01-26 19:45] AndersEverett commented on #1353
The referral credit and the mailer are kicked off in a session belonging to the new referred user. I think we'd have to add a referral credit flag to the database to get the message back into the referrer's account page in a different session. Do we want to add that for a one-time discount, or is the email enough?

[2016-01-26 19:53] Saltzshaker commented on #1353
Ah. Yeah, that sounds complicated. In that case, I'm good with just the email, unless @annewootton or @baileyspace feel strongly otherwise.

Question: when the users, either new referring or referred, are discounted in Stripe, did you add a specific message describing their discount in their receipt for the month? If not, this might be nice to add. (i.e. on Feb 1 if a referring user gets a discoun

[2016-01-26 20:02] AndersEverett commented on #1353
@Saltzshaker , Does the receipt come from us or stripe? I can see it in the stripe invoice summary.

[2016-01-26 20:03] Saltzshaker commented on #1353
It comes from Stripe. When we charge manually at least, I know we can add custom description text to the receipt.

[2016-01-26 20:05] AndersEverett commented on #1353
It lists the discount explicitly in the summary, so I'm guessing it will show up on their receipt.

[2016-01-26 20:06] Saltzshaker commented on #1353
Cool. I'll check it out when I test it in production.

[2016-01-26 21:15] AndersEverett commented on #1355
Email updated with : 5b347a3
UI updates for paying referrers: 8067773
Modal renders discount for new #PopUpFriend users: ee45a26

[2016-01-26 21:32] AndersEverett commented on #1209
revised duration checker on audiofile processing: 7f6036c

[2016-01-27 02:35] AndersEverett commented on #1332
Improved site speed with js minifications: f1b6963

Still need to look into gzip. It's not recommended to minify angular so will break that off into another ticket.

[2016-01-27 18:46] baileyspace commented on #1351
If we're seeing the error for tasks "Can't transition status from :working to :created" then we need to make sure initial status is set to :created. Hit up @shindostrz for additional info if needed.

[2016-01-27 19:04] AndersEverett commented on #1350
Look into 'content groups.'

[2016-01-27 19:12] AndersEverett commented on #1335
3 places:
analytics data viz
search page side bar
explore page

[2016-01-27 19:20] AndersEverett commented on #1316
Fix timed_text / Transcript relationship, so when timed_text updated_at  is changed, then transcript updated_at is also changed.

Add rake task that changes updated_at for all transcripts with updated_at diffs in children timed_texts.

[2016-01-27 20:02] AndersEverett commented on #1332
gzip compression : ff5bd76

[2016-01-27 20:09] Saltzshaker commented on #1256
@shindostrz fixed the loading overlay for javascript player, but the iframe overlay is still broken

[2016-01-27 20:47] annewootton opened #1357 "Error exporting audio from PUA?"
From a user: "when I try to export audio, I get this error message (Chrome for Mac / El Capitan)":
[code]

[2016-01-27 21:02] baileyspace commented on #1357
Can you get the item number/url?

[2016-01-27 21:04] annewootton commented on #1357
Will do.

On Wed, Jan 27, 2016 at 1:02 PM, Bailey Smith <notifications@github.com>
wrote:

[2016-01-28 18:59] Saltzshaker commented on #1355
Email looks good. Some extra spaces snuck in there, which I removed here: https://github.com/popuparchive/pop-up-archive/commit/5329e0fe91881ff04d8d717331c383e6848d822e
UI updates for paying referrers also look good.
![screen shot 2016-01-28 at 10 28 01 am](https://cloud.githubusercontent.com/assets/8497203/12655293/11e03074-c5ad-11e5-8672-25d34efdf275.png)

Two issues with proposed changes:
* Mod

[2016-01-28 19:59] Saltzshaker commented on #1346
looks good https://pop-up-archive-staging.herokuapp.com/collections/3247
![screen shot 2016-01-28 at 11 59 04 am](https://cloud.githubusercontent.com/assets/8497203/12657117/92758596-c5b6-11e5-9ff3-9312ad268804.png)
marking ready-to-deploy

[2016-01-28 21:00] Saltzshaker commented on #1353
Since sign up works for new users in staging (just not for changing plans), I was able to test this. The existing 1-hr monthly plan customer 'edison+mat@popuparchive.com' invited a new user 'emily+newsignup@popuparchive.com' Using the email link, 'emily+newsignup@popuparchive.com' then signed up for a 1-hr monthly plan.

'edison+mat@popuparchive.com' got confirmation of sign up:
![screen shot 2016

[2016-01-28 21:45] Saltzshaker commented on #1209
@AndersEverett what is the best way for me to test this?

[2016-01-28 22:16] Saltzshaker commented on #1336
![screen shot 2016-01-28 at 2 11 01 pm](https://cloud.githubusercontent.com/assets/8497203/12660524/01febbaa-c5c9-11e5-9dc8-6a89a13b1437.png)
1-hr demo is split out, but usage is inaccurate.
Actual usage was 1min 56sec uploaded to the 1-hr plan, then 3min uploaded to 1-hr demo.

Tested with essaltz+reftest@gmail.com: https://pop-up-archive-staging.herokuapp.com/superadmin/users/2673

[2016-01-28 22:18] Saltzshaker commented on #1332
@AndersEverett how should I test this?

[2016-01-28 23:35] AndersEverett commented on #1332
From the initial check:
<img width="1001" alt="screen shot 2016-01-28 at 3 30 10 pm" src="https://cloud.githubusercontent.com/assets/7750668/12662297/47a692a8-c5d4-11e5-80fd-7b99779536f3.png">
From the follow-up check after minifying & gzip:
<img width="995" alt="screen shot 2016-01-28 at 3 30 36 pm" src="https://cloud.githubusercontent.com/assets/7750668/12662304/4ed6320e-c5d4-11e5-9628-dee15daea

[2016-01-28 23:38] annewootton commented on #1332
@AndersEverett Any idea why the page load time is longer now (5.1s) than it
was before (4.1s)?

On Thu, Jan 28, 2016 at 3:35 PM, Anders <notifications@github.com> wrote:

[2016-01-28 23:40] AndersEverett commented on #1332
@annewootton I don't know the answer to that.

[2016-01-29 00:45] Saltzshaker commented on #1353
@AndersEverett Referring users should only get a discount when new custys sign up for a *paid* plan. The discount email is sent even when an invitee signs up for the 1-hr demo.

[2016-01-29 00:46] Saltzshaker commented on #1352
@baileyspace looking at mixpanel. looks like the rake task got most people. any idea why some still have blank info? https://mixpanel.com/report/566281/explore/#list/filter:(conjunction:and,filters:!()),sort_order:descending,sort_property:'$last_seen',sort_property_type:datetime

[2016-01-29 07:06] baileyspace commented on #1352
The rake task would only work for users in the pua staging database, so any
test users/other users somehow not accounted for in the database would not
receive the new values.
On Thu, Jan 28, 2016 at 4:46 PM Emily Saltz <notifications@github.com>
wrote:

[2016-01-29 18:25] Saltzshaker commented on #1332
F to E seems like an improvement anyway! @AndersEverett thinks it the page load probably had to do with a temporary issue, like Internet connection. Marking this ready-to-deploy. @AndersEverett, could you make another ticket for Angular optimizations?

[2016-01-29 19:23] Saltzshaker opened #1358 "Make sure speaker IDs are in transcript download formats"

[2016-02-01 17:55] AndersEverett commented on #1353
f283acd Email to referrrer now triggers only if referred plan is paid.

[2016-02-01 23:34] Saltzshaker commented on #1209
Uploaded a 32 min file, 36 min file, and 3 min file one after another in both staging and production.
* In production, as we've seen in the past, all three processed. Over-limit messaging appears after ~10 min.
* In staging, the 32 min and 36 min files were processed, and the 3 min file stopped at uploading. Yeah!!

@AndersEverett before we deploy, there some messaging kinks to look into:
1) After

[2016-02-02 02:09] Saltzshaker commented on #1353
Hm, I tried signing up two new invited users, one for a paid plan, and one for a demo. The referrer got two email notifications that they earned a discount.

@AndersEverett The referrer should only get one discount email for the paid plan sign up. Also, regardless of the plan of the new users, the referrer should also only ever get max one email per month anyway, since the discount only applies ma

[2016-02-02 02:35] AndersEverett commented on #1355
First change completed with : 5251c75.
Second change completed with : a625c5923cd9455f535c1d837ae9e19f61e4b4b6.

[2016-02-02 02:40] AndersEverett commented on #1353
Per your message today, aren't we allowing unlimited discounted months: "it looks like we decided on a max of one referral discount per user per month"?

Are you saying you want the emails spaced out, 1/month?

[2016-02-02 18:24] Saltzshaker commented on #1353
Stripe says: "An invoice can only have one coupon applied–it’s not possible to stack two or more coupons onto an invoice." The referring customer should only *get* the discount once per month, so they should only get one email for that discount. Beyond that, they're not discounted.

For example, if I'm on a 5hr plan and invite 3 people to sign up in February, and two of them sign up for paid plans

[2016-02-02 18:28] AndersEverett commented on #1353
@Saltzshaker Yes, the stripe part is clear. What I'm wondering is about the email frequency to the referrer. I think the simplest solution would be to amend the outgoing email to explain that multiple successful references equals one 20% discount a month. So if they get 3 in a row, they'll know what to expect.

[2016-02-02 18:38] AndersEverett opened #1359 "Research Angular Optimization for Site Speed"

[2016-02-02 18:39] AndersEverett commented on #1332
Created new issue in Ginsburg for Angular Optimization research: #1359

[2016-02-02 18:50] AndersEverett commented on #1353
Rewrite email with disclaimer for one referral discount/month. Grab new user's name and send in referrer notice.

[2016-02-02 19:22] AndersEverett commented on #1353
82ec230 revises email with personalized message and disclaimer.

[2016-02-02 20:22] AndersEverett commented on #1336
I reworked the logic here: 1519a15. @Saltzshaker This is in staging now.

[2016-02-02 20:47] AndersEverett commented on #1209
3ce20f1 Changes status setting to specifically set only files that push the user over limit.
@Saltzshaker This is in staging.

[2016-02-02 22:35] AndersEverett commented on #1209
412764e Added a check to skip illegal status for any files with tasks. @Saltzshaker ==> in staging!

[2016-02-02 23:48] Saltzshaker commented on #1353
Email looks good. No longer sends when new user signs up for the demo plan. Ready to deploy

[2016-02-03 20:42] Saltzshaker commented on #1336
oorah! usage for 1 hr demo shows up as 1 hr demo, and usage on 1 hr plan shows up for estimated usage. Ready. to. deploy. :clap:
![screen shot 2016-02-03 at 12 40 45 pm](https://cloud.githubusercontent.com/assets/8497203/12796435/84d62ac8-ca73-11e5-925d-f6477f484ec3.png)

[2016-02-03 20:51] Saltzshaker commented on #1209
@AndersEverett tested this. The over-limit file stopped after upload and has accurate "over-limit" messaging on the item and collections pages. The other files processed normally. Ready to go.

[2016-02-03 21:22] Saltzshaker commented on #1357
@annewootton did you track down the item? I just exported an audio file and all was well

[2016-02-03 21:25] annewootton commented on #1357
Yes! It's https://www.popuparchive.com/collections/431/items/48906

On Wed, Feb 3, 2016 at 1:22 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-02-03 21:38] Saltzshaker commented on #1357
This looks like an IA issue. The file plays in Pop Up and was copied over to s3 from IA. When I click the original_file_url in the API, it throws a 404 error. I'm guessing this is the file we're trying to grab when you click export audio

[2016-02-03 21:51] annewootton commented on #1357
Oh, that makes sense — I think it's because at some point we made our
archive.org materials stream only... though I thought that was just for
Studs Terkel. Worth investigating and if necessary we can ask archive.org
to make the rest of our (non-Studs) stuff downloadable.

On Wed, Feb 3, 2016 at 1:38 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-02-03 23:52] Saltzshaker commented on #1253
ran text diff check on the files listed above:
1. https://www.popuparchive.com/superadmin/items/43511
new transcript had many new words and sentences
2.  https://www.popuparchive.com/superadmin/items/43791
the same as before
3. https://www.popuparchive.com/superadmin/items/43685
the new transcript is actually missing some sentences from the first one

also, a new user today reported gaps in their

[2016-02-04 00:47] annewootton commented on #1253
@saltzshaker We should report any transcripts that still have gaps to
Bryon. Which ones from this ticket would you report — the last two (
https://www.popuparchive.com/superadmin/items/43685 and
https://www.popuparchive.com/superadmin/items?q%5Bcollection_id_equals%5D=6826
)?

If so, can you email Bryon?

On Wed, Feb 3, 2016 at 3:52 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-02-05 19:01] #1355 closed

[2016-02-05 19:02] #1353 closed

[2016-02-05 19:02] #1346 closed

[2016-02-05 19:03] #1344 closed

[2016-02-05 19:03] #1332 closed

[2016-02-05 19:03] #1300 closed

[2016-02-05 19:04] #1331 closed

[2016-02-05 19:05] #1320 closed

[2016-02-05 19:08] #1352 closed

[2016-02-05 19:08] #1209 closed

[2016-02-05 19:09] #1333 closed

[2016-02-05 19:09] #1336 closed

[2016-02-05 20:21] Saltzshaker commented on #1334
Discounts all applied as expected! Closing.

#DemoDiscount scenario one:
* demo-referrer gets 20% off after sending emails: #DemoDiscount 20% discount applied to next Stripe invoice ($16 for $20 plan). The month after is $20 as expected.

#PopUpFriend (20% for 20%) scenario two:
* new-custy-paid gets 20% off on sign up: #PopUpFriend 20% discount applied to next Stripe invoice ($16 for $20 plan). T

[2016-02-05 20:21] #1334 closed

[2016-02-10 01:12] Saltzshaker commented on #1358
Speaker ids not shown in transcript, although paragraph breaks reflect speaker changes.

Add ids (and, if edited, assigned speakers) back into the download format.

[2016-02-10 01:17] Saltzshaker commented on #1253
"We have an additional improvement for what we were discussing as the gain control/gap issue that looks like it will be released for V2 only. This is largely complete, but some remaining steps are being looked at in our next sprint planning. I will see if I can run your sample files through to see what the new outcome will be." So...I'll leave this open until we get V2 results back

[2016-02-10 19:10] Saltzshaker opened #1361 "Write tutorial for Pop Up Archive Adobe add-on"
If @shindostrz/somewhat at Adobe gives me access to Premiere or Audition, I can do this.
https://creative.adobe.com/addons/products/13415?scid=social56070826&adbid=993197124056954&adbpl=fb&adbpr=341657335877606#.Vrt4-DYrJE5

[2016-02-11 19:46] Saltzshaker commented on #1341
Added to signed-in nav https://github.com/popuparchive/pop-up-archive/commit/6c108bbb966da3dd7f7742a2f4aaacc49255419f, account page https://github.com/popuparchive/pop-up-archive/commit/d7e87d497cafcff8df6b0595c41f3daa47265521, and pricing page https://github.com/popuparchive/pop-up-archive/commit/34dab3c552c555de0eafe158ca730a677117dbe2 for signed-in users. For users without accounts, I added an

[2016-02-11 23:55] annewootton opened #1362 "Look into minutes tally not showing in certain browsers"
Seems to be happening in Safari desktop and possibly mobile based on spot-checking by @AndersEverett @Saltzshaker @annewootton.

[2016-02-12 01:40] Saltzshaker commented on #1329
@baileyspace, while spot-checking some of the users on the email lists for the various conditions listed above, i noticed that 'hours remaining' and 'monthly usage' resets each month.

while this is perfect for paid plans, it unfortunately messes up targeting for demo plan users, where the hour limit is fixed. for example, when i try to target demo users who signed up in the last 30 days & haven't

[2016-02-12 02:11] Saltzshaker opened #1363 "[Mixpanel] Make sure 'monthly usage' & 'hours remaining' properties don't get reset for demo users"
Rewrite the 'monthly usage' and 'hours remaining' properties so that they don't reset each month for demo users.

While this is what we want for paid plans, it messes up targeting for demo plan users, where the hour limit is fixed for all time. For example, when I try to target demo users who signed up in the last 30 days & haven't uploaded any audio with an email is to encourage them to upload au

[2016-02-12 02:16] Saltzshaker commented on #1329
Made https://github.com/popuparchive/pop-up-archive/issues/1363 to allow proper targeting based on demo plan usage.

In the meantime, I can set up 4: "If demo users click on upgrade messaging but don't finish upgrading, email them to finish upgrade process."
![screen shot 2016-02-11 at 6 12 25 pm](https://cloud.githubusercontent.com/assets/8497203/12997126/2a09953e-d0eb-11e5-9f4e-60e6a4f20dfc.png)

[2016-02-12 02:38] Saltzshaker opened #1364 "On sign-up, add users to 'demo' and 'paid' segments within PUA accounts list on MailChimp"
Going forward, we want to segment the pua accounts list on MailChimp so we can send #DemoDiscount referral info to new demo users and #PopUpFriend referral info to users on paid plans.

To do this, demo users should get added to a demo segment of the pua accounts list upon sign up, and paid users (new or upgraded) should get added to the paid segment of the pua accounts list. It looks like doing t

[2016-02-12 18:47] Saltzshaker opened #1365 "Email users about referral plan: announcement for existing"
Send announcement email to existing users: if possible, break these out by demo vs. paid

[2016-02-12 18:53] Saltzshaker opened #1366 "Send automated emails based on usage to encourage demo users to upload/upgrade"
Emails:
1. If demo users users don't upload audio after 7 days, **send email reminder to try uploading**
2. If demo users upload and still have time left, **send reminder to finish using demo and sign up for plan** 7 days after last upload
3. If demo users are over limit, **send email reminder to upgrade plan** for more 7 days after they went over their limit

Proper targeting based on usage depen

[2016-02-12 18:56] Saltzshaker commented on #1329
Split out the emails into different tickets. This one is based on click events and can get done with Sally, but the emails based on usage will require some tweaks to the Mixpanel code in https://github.com/popuparchive/pop-up-archive/issues/1366.

Usage emails to be launched in https://github.com/popuparchive/pop-up-archive/issues/1366

[2016-02-16 23:04] annewootton commented on #1357
Update: I'm able to download https://archive.org/download/space-shuttle-challenger-disaster-archival-newsca.SW4U1E.popuparchive.org/Space_shuttle_Challenger_explodes_01_28_29_1986.mp3 when logged in with privs. In fact, I think perhaps anyone can download this file by right-clicking.

I am checking with archive.org staff to find out if we should indeed be able to download these files when authenti

[2016-02-17 19:48] annewootton commented on #1357
Files should be downloadable.

From archive.org staff: "You should be able to download using either wget or the ia wrapper. What method were you trying to use?"

@AndersEverett can you look into this and see if you can learn anything more about why we're getting errors when we try to download from archive.org? See above comments for sample item(s).

[2016-02-17 22:15] Saltzshaker commented on #1329
Scheduled for Thursdays at 12pm

[2016-02-17 22:15] #1329 closed

[2016-02-17 22:19] annewootton commented on #1329
Sweet. Is there a way you could check to make sure this is running properly
by creating a user who fits the proper Mixpanel condition?
ᐧ

On Wed, Feb 17, 2016 at 2:15 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-02-17 22:22] Saltzshaker commented on #1329
mixpanel shows you the users it's going to send the email to, and i spot-checked the list. also, when i was testing the email copy, i targeted it only to myself, and it sent.

[2016-02-17 22:26] Saltzshaker opened #1368 "1 hr demo limit resets each month"
1 hr demo users should only be able to upload 1 hr ever. However, it looks like the hour limit resets every month. For example, https://www.popuparchive.com/superadmin/users/3226 uploaded over an hour in January, and now is able to upload again without any over limit messaging.

[2016-02-17 22:33] annewootton commented on #1329
Great, if it shows you who it's going to send to, that's good enough for me
(more meaningful I think than when you target it to yourself).
ᐧ

On Wed, Feb 17, 2016 at 2:22 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-02-18 20:55] Saltzshaker commented on #1358
After discussing with @baileyspace and @annewootton, let's show speaker names conditionally, only when contributors have been added and assigned by the user.

[2016-02-19 19:25] Saltzshaker opened #1369 "Prevent two VB jobs from being created simultaneously"
See files: 56704, 56750, 56685

Start with quick look and identify the files where this has happened (all jobs with multiple VB tasks created within a minute of each other). Move out if not obvious.

Might be race condition, which could be very tricky, or even wontfix. Also check when tasks are created—might be at same time nudger is run.

[2016-02-19 22:12] #1343 closed

[2016-02-19 22:12] #1330 closed

[2016-02-22 18:48] Saltzshaker opened #1370 "Replace "Premium transcript" with "Automatically generated transcript""
Replaced on pricing page plans and pricing faq, faq, zendesk, the enterprise page, premium transcript complete status (now "Transcript complete"), and premium transcript labels (now reads "Pop Up Archive Transcript"; I left the Basic label in but changed the description to direct people to an FAQ about our "new" transcription software)

[2016-02-22 18:49] Saltzshaker opened #1371 "Make sure lines are still editable even after deleting transcript text + saving"

[2016-02-22 20:22] AndersEverett commented on #1275
Fixed with 58acd0d.

[2016-02-23 21:35] baileyspace opened #1372 "Renew ssl cert"

[2016-02-24 19:01] AndersEverett commented on #1368
Write an rspec test and use time gem for time advancement.

[2016-02-24 19:11] Saltzshaker commented on #1253
Check back in with Bryon

[2016-02-24 19:23] Saltzshaker opened #1373 "Set up drip emails about referral plan"
Email new users about referral plan ~7 days after sign up. Change drip email and segment by paid and demo referral programs. Dependent on solution from https://github.com/popuparchive/pop-up-archive/issues/1364

[2016-02-25 15:11] Saltzshaker opened #1374 ""Illegal file" status showing before accounts are over limit"
We've now gotten two reports that users have seen the "illegal file" messaging for accounts that are not over their limits and for files that later finish transcribing. I'll start by trying to recreate this. CC @AndersEverett

[2016-02-25 22:10] AndersEverett commented on #1335
Conversion to aggregations in 7463054 & f0940db.

[2016-02-26 23:47] Saltzshaker commented on #1374
Reported here (1 hr demo + 1 hr plan upgrade): https://www.popuparchive.com/superadmin/users/3333
and here (1 Hour demo): https://www.popuparchive.com/superadmin/collections/7131
Both users saw the "Illegal Status" message before they over their limits. Both of their files eventually finished processing.

Got the "Illegal Status" in my account here on a 1 hr demo account, which did block processin

[2016-02-29 19:02] annewootton opened #1375 "Special metrics report: conversion value from demo plan"

[2016-02-29 19:33] annewootton opened #1376 "Why isn't collection 2064 importing episodes?"
The feed is live and hooked up through Heroku Scheduler.

More details on the collection:
[code]

[2016-02-29 19:33] annewootton opened #1377 "Add pagination to collections in Superadmin"
So collections like https://www.popuparchive.com/superadmin/collections/2064 don't time out when we try to load the page.

[2016-02-29 19:45] Saltzshaker opened #1378 "In txt downloads, timestamps only show up at speaker changes"
Customer complained that their one speaker transcript only returned one timestamp at 00:00:00.

In "Transcripts with timestamps," add back timestamps every ~30 sec? Try to keep existing timestamps at speaker changes

[2016-03-01 01:49] AndersEverett opened #1379 "Fix Collection Aggregate 'more' from explore page."
The other facets/aggs were fixed with 217614c in issue #1186 , but ES returns collection ids for collection agg. It's too slow & buggy to query each id and alphabetize through angular. Find new solution: possibly add title to ES index.

[2016-03-01 01:49] AndersEverett commented on #1186
This works now for all facets/aggs except collection_id. Fixed with 217614c. Elasticsearch returns collection ids rather than collection titles, so this will be dealt with in  #1379. Either titles should be added to the index or some other solution. It's too slow to query each collection id and then alphabetize everything from angular.

[2016-03-01 03:08] AndersEverett commented on #1349
I added a basic table to superadmin to track premium community transcript usage. There isn't anything currently in the monthly usage summary class that makes this a seamless addition. It may need further work for full integration. Testing will tell. 4f081d0

[2016-03-01 18:28] annewootton opened #1380 "Add ability for users to upload images to items via API"

[2016-03-01 21:07] Saltzshaker commented on #1374
Why does this show up as illegal? https://www.popuparchive.com/superadmin/items/52021

[2016-03-01 21:09] AndersEverett commented on #1374
Duration says 1:35:10 and plan is 1 Hour demo.

[2016-03-01 21:22] Saltzshaker commented on #1349
User uploaded 65.6 minutes to the demo plan, then more on the 10 hour plan. Demo usage split out as expected.
![screen shot 2016-03-01 at 1 18 04 pm](https://cloud.githubusercontent.com/assets/8497203/13442283/44c6898a-dfb0-11e5-9a81-6b5476c51ab4.png)
I'm good with deploying this for now, then I can spot-check it further where we have more complex usage histories.

[2016-03-01 21:29] Saltzshaker commented on #1374
But this is the first file the user has uploaded. Doesn't your over-limit status work by counting up the durations of past files and seeing if they've gone over an hour? Since this was the first file, I expected it to sneak through.

That said, if we _are_ able to stop files over an hour without needing to have processed anything else first, that's even better.

[2016-03-01 21:42] AndersEverett commented on #1374
It all depends on the file. If the metadata is there or the duration shows up on an early task, it will be blocked.

[2016-03-01 21:54] Saltzshaker opened #1381 "Mismatch between task status and file status"
For example, transcript is complete (and shows up in UI) but file status still shows up as "Processing" https://www.popuparchive.com/superadmin/audio_files/58531

[2016-03-01 22:11] Saltzshaker opened #1382 "Why doesn't process_transcript always run when VB tasks are complete?"
Occasionally seeing a VB task with "complete" status, but process_transcript has not successfully run so no transcript has been created

[2016-03-01 22:12] annewootton commented on #1349
IT DOES WHAT I NEED HALLELUJAH THANK YOU EVERYONE

[2016-03-01 22:12] #1349 closed

[2016-03-02 00:07] annewootton commented on #1341
The only place it's missing is for paid users on the /account page.

[2016-03-02 00:50] Saltzshaker commented on #1370
More changes here: https://github.com/popuparchive/pop-up-archive/commit/7432547b2ee8a94360b34c9db2e26cb348ba6d7c when deployed to Sally, will reassign @annewootton to test

[2016-03-02 00:59] Saltzshaker commented on #1358
Edited speaker names show up in transcript downloads for "Transcripts with timestamps" but not "Transcripts without timestamps." Assigning back to @baileyspace

[2016-03-02 01:03] Saltzshaker opened #1383 "For edited speakers, don't show/print the same speaker consecutively"
For example, after assigning what was once S11, S2, S8 (etc.) all to speaker "DB" (David Bowie), he shows up multiple times in a row. DB should only show up the first time until the next speaker change.

Also applies to transcript downloads.
![screen shot 2016-03-01 at 5 01 12 pm](https://cloud.githubusercontent.com/assets/8497203/13447323/81b876b8-dfcf-11e5-83f5-1d5bef4e4e9e.png)

[2016-03-02 01:10] Saltzshaker commented on #1155
![screen shot 2016-03-01 at 5 09 40 pm](https://cloud.githubusercontent.com/assets/8497203/13447451/70454798-dfd0-11e5-952e-1d4fe02143db.png)
<3

[2016-03-02 01:15] Saltzshaker commented on #1275
Test with words with commas, search terms entered to top followed by a search to the main search bar, and then two search terms to the main search bar. None have "and" highlighted! Ready to deploy.

Search for "dog" and "day" with fix:
![screen shot 2016-03-01 at 5 14 32 pm](https://cloud.githubusercontent.com/assets/8497203/13447533/2b33b5a8-dfd1-11e5-90ce-6ef1a68c7ae6.png)
Search for "dog" and "

[2016-03-02 01:17] Saltzshaker commented on #1347
@baileyspace looking at link above, the player still has extra space: http://www.cbc.ca/radio/spark/301-teaching-through-text-message-designing-connection-and-more-1.3338846/how-to-make-websites-more-accessible-for-people-who-are-deaf-1.3338862

[2016-03-02 01:41] Saltzshaker commented on #1341
Added for paid users on the /account page. Will reassign to @annewootton when it's deployed to staging: https://github.com/popuparchive/pop-up-archive/commit/82ab48da3bef901a994589f8df1e8cf6cbcf8888

[2016-03-02 01:45] Saltzshaker commented on #1335
![screen shot 2016-03-01 at 5 18 45 pm](https://cloud.githubusercontent.com/assets/8497203/13448063/ed92c85c-dfd4-11e5-84c7-3f483b5d83ad.png)
Search sidebar, tags, and entities all working. No viz showing up on /analytics, and clicking "More" on Explore only shows alphabet letters, but no content.

@AndersEverett is looking into the analytics page. Working more on the explore page issue requires @

[2016-03-02 01:46] Saltzshaker commented on #1335
Explore page issues to be continued in https://github.com/popuparchive/pop-up-archive/issues/1379

[2016-03-02 18:35] annewootton opened #1384 "Add low-priority Sidekiq queue for batch jobs"

[2016-03-02 19:16] annewootton commented on #1341
READY TO DEPLOY

[2016-03-02 19:18] annewootton commented on #1186
To clarify: #1379 will fix aggregation mappings for collection_id as well as all other facets besides tags and entities, which were fixed with this ticket.

[2016-03-02 19:22] annewootton commented on #1379
This ticket will address not only collection_id, but also all facets other than tags and entities, which were fixed with #1186.

[2016-03-02 20:20] Saltzshaker commented on #1374
Reported by another user who had upgraded from the 5 to 10 hr plan, and had files blocked when she hit the 5 hr limit several hours after upgrading. See spreadsheet for timeline: https://docs.google.com/spreadsheets/d/14oqNnsWj7mdcmUjVMOUnvveSX5Tn4DcJYcJJib9ndlI/edit?usp=sharing
@AndersEverett suspects that the plan is being cached. I'm going to keep trying to recreate this. We're also discussing

[2016-03-02 20:58] Saltzshaker opened #1385 "Files stuck in “processing” with a complete VB task (no transcript in UI)"
This is distinct from the status mismatch issue https://github.com/popuparchive/pop-up-archive/issues/1381 because the VB task is not returned in the UI, despite being "complete" with a transcript text in the callback in superadmin. task.finish_task returns 'nil'

Happened for several files here (which have since been pushed through manually):
https://www.popuparchive.com/superadmin/items/52116
ht

[2016-03-02 21:20] annewootton commented on #1370
Looks good on:
-Pricing page plans
-Pricing faq
-Enterprise page
-Transcript status alert on My Collections page (now "Transcript complete")
-Text in label once I click "Premium transcript" label on item page
-FAQ
-Zendesk

Marking ready-to-deploy!

[2016-03-03 01:40] Saltzshaker commented on #1374
Commented out for now: https://github.com/popuparchive/pop-up-archive/commit/6c27faf14514f6a16eff2a1416bfac7e89a7938a

[2016-03-03 02:42] AndersEverett commented on #1335
0d2be8d maps the data viz to aggregations -- bubbles are back. This is also in staging now.

[2016-03-03 21:34] Saltzshaker commented on #1335
Analytics looking good! "More" is commented out. Ready-to-deploy.
![screen shot 2016-03-03 at 1 33 33 pm](https://cloud.githubusercontent.com/assets/8497203/13510278/a9a904e6-e144-11e5-8485-21c69f1a67b1.png)

[2016-03-04 01:39] baileyspace opened #1386 "What should with do with transcribe tasks with "unknown" speakers"
Cancel and retry or reconfigure vb task to complete without speakers?

See task 491246

[2016-03-04 03:55] Saltzshaker opened #1387 "Collection pages show incorrect number of results"
For example: https://pop-up-archive-staging.herokuapp.com/collections/938
![screen shot 2016-03-03 at 7 55 27 pm](https://cloud.githubusercontent.com/assets/8497203/13517624/ef383060-e179-11e5-8640-df2687fa5201.png)

[2016-03-04 19:10] Saltzshaker commented on #1347
On Tumblr:
![screen shot 2016-03-04 at 11 02 54 am](https://cloud.githubusercontent.com/assets/8497203/13537359/68a52b9a-e1f9-11e5-9ca1-93050283f55b.png)
Note: when I go back to edit the post, the "onload" part of the embed code is stripped out (not true of WordPress though):
`<p><iframe` frameborder="0" width="100%" scrolling="no" seamless="yes" `src="https://pop-up-archive-staging.herokuapp.com/

[2016-03-04 19:51] baileyspace commented on #1385
All clear for the last 12 hours. Closing.

[2016-03-04 19:51] #1385 closed

[2016-03-04 20:37] AndersEverett commented on #1387
d82c1f9 should have fixed it.

[2016-03-04 20:47] Saltzshaker commented on #1387
Indeed. Ready to deploy.
![screen shot 2016-03-04 at 12 46 09 pm](https://cloud.githubusercontent.com/assets/8497203/13539756/29994388-e207-11e5-9029-33ac2e7608f0.png)

[2016-03-04 21:19] annewootton opened #1388 "Item images broken on collection page"
Looks fine on the item page itself, but broken on collection page.
See https://www.popuparchive.com/collections/431:

![screen shot 2016-03-04 at 1 19 29 pm](https://cloud.githubusercontent.com/assets/1718286/13540493/c1918930-e20b-11e5-9edc-6faa9c006bc0.png)

[2016-03-04 21:40] baileyspace commented on #1347
Uncaught SecurityError: Failed to read the 'contentDocument' property from 'HTMLIFrameElement': Blocked a frame with origin "http://fiddle.jshell.net" from accessing a frame with origin "https://pop-up-archive-staging.herokuapp.com".  The frame requesting access has a protocol of "http", the frame being accessed has a protocol of "https". Protocols must match.

[2016-03-04 22:21] Saltzshaker commented on #1387
@AndersEverett Ah, just noticed that private collections are showing up with 0 items
https://pop-up-archive-staging.herokuapp.com/collections/1937
![screen shot 2016-03-04 at 2 21 07 pm](https://cloud.githubusercontent.com/assets/8497203/13541953/5dcb7484-e214-11e5-9ac6-fe8c01280483.png)

[2016-03-04 23:36] Saltzshaker commented on #1347
Looking good! Ready to deploy. ![screen shot 2016-03-04 at 3 34 34 pm](https://cloud.githubusercontent.com/assets/8497203/13543304/ccfe3742-e21e-11e5-86ec-c959a95d589f.png)
![screen shot 2016-03-04 at 3 34 26 pm](https://cloud.githubusercontent.com/assets/8497203/13543303/ccfd264a-e21e-11e5-80c1-117c21e52411.png)

[2016-03-04 23:39] Saltzshaker commented on #1358
Now showing for txt files with and without timestamps. Ready to deploy.

[2016-03-04 23:48] Saltzshaker commented on #1387
Private collection now shows items. Ready to deploy.
![screen shot 2016-03-04 at 3 47 29 pm](https://cloud.githubusercontent.com/assets/8497203/13543497/88f6dd54-e220-11e5-8f8b-8da6abd21c64.png)

[2016-03-07 17:50] annewootton opened #1389 "Fix Adobe plugin"
See @Saltzshaker for details on bugs.

[2016-03-07 18:33] annewootton commented on #1382
@baileyspace fixed this.

[2016-03-07 18:33] #1382 closed

[2016-03-07 20:04] #1155 closed

[2016-03-07 20:04] #1186 closed

[2016-03-07 20:04] #1275 closed

[2016-03-07 20:04] #1335 closed

[2016-03-07 20:04] #1341 closed

[2016-03-07 20:04] #1347 closed

[2016-03-07 20:04] #1358 closed

[2016-03-07 20:04] #1370 closed

[2016-03-07 20:04] #1387 closed

[2016-03-09 23:14] Saltzshaker commented on #1364
Note, i'm importing users to 'demo' and 'paid' segments as part of https://github.com/popuparchive/pop-up-archive/issues/1365 @baileyspace see if your code can update the users in each segment in case someone in the original list changes their plan

[2016-03-10 18:17] baileyspace commented on #1386
We should be prepared for transcripts without speakers on occasion. I've seen two scenarios: one where the speaker is marked ["Unknown"](as in the previous comment) and one where we just don't get a speaker array at all (493454). In both cases, we should set the task status to "cancelled" and retry the transcribe job, as it seems refiring may successfully create a transcript with speakers. It woul

[2016-03-10 21:05] annewootton opened #1391 "Process Duke audio (1400 hours)"

[2016-03-10 21:05] annewootton opened #1392 "Start processing American Archive audio"

[2016-03-10 21:08] baileyspace opened #1393 "Failed transcode to mp3 task: encode_mp3_from_wav - lame completion unsuccessful"
Example task 493579

[2016-03-11 22:27] Saltzshaker commented on #1365
Created static segments in Mailchimp for paid plan users and demo users respectively, and sent the referral program email. Closing!

[2016-03-11 22:27] #1365 closed

[2016-03-12 01:43] #1386 closed

[2016-03-14 17:31] baileyspace opened #1394 "Problem transcribing recent transcoded m4a files"

[2016-03-14 17:35] baileyspace opened #1395 "Aborting rake stripe:populate_charges"
A NoMethodError occurred in background at 2016-03-14 07:28:34 UTC :

  undefined method `subscriptions' for #<Stripe::Customer:0x0000000fe1e858>
  /home/pua/.rvm/gems/ruby-2.0.0-p598/gems/stripe-1.20.1/lib/stripe/stripe_object.rb:174:in `method_missing'

  -------------------------------
Backtrace:
-------------------------------

  /home/pua/.rvm/gems/ruby-2.0.0-p598/gems/stripe-1.20.1/lib/stripe

[2016-03-14 17:48] AndersEverett opened #1396 "Why is error email sending multiples for vb empty speaker hash task cancellation notice?"
Email fires to edison when an empty speaker hash / no speaker hash is returned from vb. The task is set to 'cancelled,' but email is sending multiple times over several hours. Check on methods that occur in vb task 'finish_task' from line 298 to end of method.

[2016-03-14 17:53] AndersEverett opened #1397 "Clean filenames that are uploaded through the api."
The audiofile model in angular cleans file names so that special characters are replaced with underscores. When files are uploaded through the API, there is no cleaning occurring and file names can be stored in a way that causes errors when there are attempts to access those (as occurred with many NYPL files. Add a cleaner when processing files via API.

[2016-03-14 18:20] annewootton commented on #1396
Check this out right now for live-action evidence! https://www.popuparchive.com/superadmin/tasks/498236

[2016-03-14 20:09] AndersEverett commented on #1396
563a8a7

[2016-03-14 21:00] Saltzshaker commented on #1394
5+ hours in and still processing the ~6 min files. All files were transcoded successfully shortly after upload and play. 2/7 in the collection completed on their own: https://www.popuparchive.com/superadmin/collections/7367 Refired VB tasks and wrote to VB with the job ids.

[2016-03-14 23:09] baileyspace opened #1398 "[Rake Failure] (TypeError) "no implicit conversion of nil into String""
A TypeError occurred in background at 2016-03-14 21:38:50 UTC :

  no implicit conversion of nil into String
  /app/app/models/tasks/voicebase_transcribe_task.rb:261:in `+'

[2016-03-14 23:32] AndersEverett commented on #1398
f4ff8ff gets job id by name if not otherwise available.

[2016-03-14 23:51] annewootton opened #1399 "SIGTERM rake task error"
We're getting about one per hour.

'''
A SignalException occurred in background at 2016-03-14 23:24:57 UTC :

  SIGTERM
  /app/vendor/bundle/ruby/2.0.0/gems/activerecord-4.2.3/lib/active_record/connection_adapters/postgresql_adapter.rb:606:in `exec_prepared'

  -------------------------------
Backtrace:
-------------------------------

  /app/vendor/bundle/ruby/2.0.0/gems/activerecord-4.2.3/lib/ac

[2016-03-14 23:58] #1396 closed

[2016-03-14 23:59] #1398 closed

[2016-03-15 00:29] annewootton opened #1400 "URLs not found at archive.org"
As noted for this file (https://www.popuparchive.com/superadmin/audio_files/59677), PUA is trying to find file at http://archive.org/download/napolitano-2-way-mp3.r7E38U.popuparchive.org/Napolitano_2_way.mp3 and failing, but file does exist here (all-caps MP3): http://archive.org/download/napolitano-2-way-mp3.r7E38U.popuparchive.org/Napolitano_2_way.MP3

A RuntimeError occurred in background at 20

[2016-03-15 18:26] annewootton opened #1401 "[Rake Failure] PUA (RuntimeError) "Public file download failed...""
A RuntimeError occurred in background at 2016-03-15 18:20:08 UTC :

  Public file download failed: https://www.popuparchive.com/media/8a1f2a2ef0abff560cec6347127ce5c8/0/public/audio_file/57072/FR-ON-SF-03-I%C3%A7i-%C3%A0-Dons-Butcher-Shop.mp3.
  /app/lib/utils.rb:277:in `download_public_file'

  -------------------------------
Backtrace:
-------------------------------

  /app/lib/utils.rb:277:in

[2016-03-15 18:53] annewootton opened #1402 "Faraday::ParsingError"
A Faraday::ParsingError occurred in background at 2016-03-15 01:30:17 UTC :

  757: unexpected token at '<html><body><h1>503 Service Unavailable</h1>
No server is available to handle this request.
</body></html>
'
  /home/pua/.rvm/gems/ruby-2.0.0-p598/gems/json-1.8.3/lib/json/common.rb:155:in `parse'

  -------------------------------
Backtrace:
-------------------------------

  /home/pua/.rvm/ge

[2016-03-16 17:25] AndersEverett commented on #1400
convert it to lowercase in angular item cleaner.

[2016-03-16 18:46] annewootton opened #1403 "Write report to notify us if transcribe jobs are "accepted" for an unacceptable amount of time"
How long, you ask? I'm not sure. Maybe 24 hours?

[2016-03-16 19:18] Saltzshaker commented on #1394
https://www.popuparchive.com/superadmin/collections/7367 files pushed through by VB. Note: I had to run finish_task to get them to show up

[2016-03-16 19:18] #1394 closed

[2016-03-18 18:51] annewootton opened #1404 "Limit max # of transcribe task attempts"
This is out of control: https://www.popuparchive.com/superadmin/audio_files/59888

[2016-03-18 23:27] Saltzshaker commented on #1368
Confirmed in staging: https://pop-up-archive-staging.herokuapp.com/superadmin/collections/5814/. I uploaded two 30 sec file to an account that had used their full time on the 1 hr demo plan in October. Both new files went through with processing. No illegal status, or over-limit banner.

[2016-03-20 00:16] #1372 closed

[2016-03-21 01:32] annewootton opened #1405 "Turn off rake task failure email alerts — approaching Mandrill limit fast"
We're at 91% of our Mandrill limit, so we need to turn off the rake task failure email alerts (there are 1000s sent each day at this point) and fix a couple of the errors we're getting before we turn the email alerts back on.

[2016-03-21 01:52] annewootton opened #1406 "SSL error"
An OpenSSL::SSL::SSLError occurred in background at 2016-03-21 01:23:40 UTC :

  SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed
  /home/puauser/.rvm/rubies/ruby-2.0.0-p576/lib/ruby/2.0.0/net/http.rb:918:in `connect'

  -------------------------------
Backtrace:
-------------------------------

  /home/puauser/.rvm/rubies/ruby-2.0.0-p576/lib/ruby/2.0

[2016-03-21 05:30] #1405 closed

[2016-03-21 22:48] annewootton commented on #1406
Fixed cert, error went away.

[2016-03-21 22:48] #1406 closed

[2016-03-22 23:34] Saltzshaker opened #1407 "Broken images uploaded to items"
All images newly uploaded to PUA display as broken images.
Examples:
https://www.popuparchive.com/superadmin/items/46562
https://www.popuparchive.com/superadmin/items/48232

Original complaint was for: https://www.popuparchive.com/superadmin/items/53605 (broken image has since been deleted)

[2016-03-23 00:03] Saltzshaker opened #1408 "Upload modal limits for orgs should reflect org usage, not user usage"
For example, the upload modal shows that 0% has been used (presumably because this user has personally not uploaded anything yet in March: https://www.popuparchive.com/superadmin/users/1023), when in fact ~94% has been used by the org in March: https://www.popuparchive.com/superadmin/organizations/32
![screen shot 2016-03-22 at 4 58 22 pm](https://cloud.githubusercontent.com/assets/8497203/1397171

[2016-03-23 01:57] AndersEverett opened #1409 "Why did nudger choke on Transcribe finish_task? Error from AWS"
rake aborted!
Excon::Errors::Forbidden: Expected(200) <=> Actual(403 Forbidden)
excon.error.response
  :body          => ""
  :headers       => {
    "Content-Type"      => "application/xml"
    "Date"              => "Wed, 23 Mar 2016 01:03:19 GMT"
    "Server"            => "AmazonS3"
    "Transfer-Encoding" => "chunked"
    "x-amz-id-2"        => "9mePN0S+Dsxd89/vOgGfX+3tpxuXXIlcccQGzA5CjmVGt0O

[2016-03-23 01:57] AndersEverett commented on #1409
Error from S3:
[fog][WARNING] fog: the specified s3 bucket name(neal-adams-comic-book-artist.P5aRq7.popuparchive.org) is not a valid dns name, which will negatively impact performance.  For details see: http://docs.amazonwebservices.com/AmazonS3/latest/dev/BucketRestrictions.html
[fog][WARNING] fog: followed redirect to ia801509.s3dns.us.archive.org, connecting to the matching region will be more

[2016-03-23 02:29] AndersEverett commented on #1409
See collection 431. This could be because this is an internet archive storage account.

[2016-03-23 18:32] annewootton commented on #1381
More examples: https://www.popuparchive.com/superadmin/tasks/501307, https://www.popuparchive.com/superadmin/tasks/501315

[2016-03-25 16:30] AndersEverett opened #1410 "Process transcripts for files under 1 minute long that will never return speaker hashes."

[2016-03-25 21:39] Saltzshaker opened #1411 "Create mockups for home page redesign"

[2016-03-27 19:18] annewootton opened #1412 "(NameError) undefined local variable or method `copy_to_item_storage"
Possibly related to #1400, #1401:

A NameError occurred in background at 2016-03-27 19:15:32 UTC :

  undefined local variable or method `copy_to_item_storage' for #<AudioFile:0x0000000ceafc48>
  /home/puauser/.rvm/gems/ruby-2.0.0-p576/bundler/gems/rails-23d555930c4f/activemodel/lib/active_model/attribute_methods.rb:433:in `method_missing'

  -------------------------------
Backtrace:
------------

[2016-03-28 05:49] annewootton commented on #1412
Scratch that, this is an Audiosear.ch error, not PUA.

[2016-03-28 05:50] #1412 closed

[2016-04-02 00:25] Saltzshaker opened #1413 "Pod-A-Day sometimes has overlapping text"
Screenshot forthcoming. Questions: Why only some? Maybe remove line-height?

[2016-04-02 00:29] Saltzshaker commented on #1413
Whoops, moving to AS

[2016-04-02 00:29] #1413 closed

[2016-04-04 23:37] AndersEverett commented on #1409
See the tasks on this : https://www.popuparchive.com/collections/431/items/53605

[2016-04-04 23:38] Saltzshaker commented on #1407
@shindostrz, given your closeness to image issues, we thought you could take a pass at this

[2016-04-04 23:41] baileyspace commented on #1403
And to nudger rake tasks individual tasks in fixer.rake. Email edison if it's outside the anticipated turnaround time.

[2016-04-04 23:44] Saltzshaker commented on #1400
Assigning to myself to write to IA and see if they can redirect links with different caps to proper item

[2016-04-04 23:47] Saltzshaker commented on #1384
@AndersEverett should talk to @baileyspace about this, and do this before AA import (https://github.com/popuparchive/pop-up-archive/issues/1392)

[2016-04-04 23:50] Saltzshaker commented on #1380
This could be blocked by the fact that image uploads in general are broken right now (https://github.com/popuparchive/pop-up-archive/issues/1407)

[2016-04-04 23:53] Saltzshaker commented on #1369
This is tricky, and seems rare enough that we're moving it forward.

[2016-04-05 01:10] annewootton commented on #1380
Word. But once image uploads are fixed, need to add this to API docs.
ᐧ

On Mon, Apr 4, 2016 at 4:50 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-04-08 04:37] Saltzshaker commented on #1411
Two layouts discussed w/ Anne + Emily:

1. Page that would link to user stories on a separate page, and get rid of standalone 'about' page, condensing it into a carousel. Also, mocked-up single row logos, with @annewootton's idea that this row would have an animation refreshing with the rest of the logos
![mockup1](https://cloud.githubusercontent.com/assets/8497203/14374260/c75f488a-fd08-11e5-9903

[2016-04-08 04:58] annewootton commented on #1411
Looks great. For the second option, would the "About" page need to change
too, given that we both thought it merits updating? (The first option
accounts for this by condensing "About" onto the homepage.)

On Thu, Apr 7, 2016 at 9:37 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-04-08 07:05] Saltzshaker commented on #1411
@annewootton yeah, if we went with the second option, we would decide on what changes to make to the about page separately, and i could mock something up for that at that point — probably similar format, maybe cutting down on some of the redundant/fluffy text, getting higher res pics, rethinking the video, etc. as we've talked about

[2016-04-08 15:35] annewootton commented on #1411
Cool. I defer to @baileyspace now to chime in on which option she prefers.

On Fri, Apr 8, 2016 at 12:05 AM, Emily Saltz <notifications@github.com>
wrote:

[2016-04-08 19:27] shindostrz commented on #1407
The image uploads fine but the thumbnail isn't being created or stored properly

[2016-04-08 22:01] Saltzshaker opened #1414 "Make Google Doc training/reference guide for Community Manager hire"
e.g. background on superadmin, Stripe, Zendesk, console commands, Pop Up Archive collections to promote, links to other relevant google docs/sheets, wikis etc.

For social media training, see existing intern resources:
https://docs.google.com/document/d/1TsU5QCzvSBOkEVBgm1mzYd9Li0A8BUkJxWyqJuFEX7s/edit#heading=h.jlryp75ri29b
https://docs.google.com/spreadsheets/d/16gi2b8KwaewmTS8g5gkcaz1OTk1YPyDqv

[2016-04-08 22:02] Saltzshaker opened #1415 "Add WebVTT export format for Duke"

[2016-04-12 17:49] AndersEverett commented on #1368
6780cbe & ab8909a

[2016-04-12 21:45] AndersEverett commented on #1384
Low priority queues necessary for both fixer and pua.

[2016-04-14 00:38] annewootton commented on #1410
Closing because... you know.

[2016-04-14 00:38] #1410 closed

[2016-04-14 00:39] annewootton opened #1416 "Get back on that SM API"
Yessssss

See @baileyspace for details; the code is all still there.

[2016-04-14 00:50] AndersEverett commented on #1403
e5fdc3f sends to Edison if 'accepted' state over 18hrs. Nudger appears to look back only 24 hours for missing transcripts, so set window 18-24 hrs out.

[2016-04-14 01:12] annewootton commented on #1403
Discussed with @AndersEverett and @baileyspace and the email will send if 'accepted' state is over 3hrs.

[2016-04-14 01:13] annewootton commented on #1369
Won't fix.

[2016-04-14 01:13] #1369 closed

[2016-04-14 04:17] Saltzshaker commented on #1400
Well, IA says "The site is case sensitive and I have no reason to expect that to change. If you want you can rename the file to have lower case .mp3" ('tude, much?)

@annewootton @baileyspace lemme know what we should do with this ticket

[2016-04-14 06:03] annewootton commented on #1400
Oh, I think it's fair for them to say that. How hard would it be for us to
do this @baileyspace @anderseverett?

On Wed, Apr 13, 2016 at 9:17 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-04-14 20:19] AndersEverett opened #1417 "Create Low priority sidekiq queue in Fixer"
2nd half of #1384 to be completed when dev fixer environment is set up.

[2016-04-14 20:20] AndersEverett commented on #1384
388b6fe adds this to the pua side. Don ticket #1417 will address fixer side queue once I have my fixer dev environment set up.

[2016-04-15 00:39] AndersEverett commented on #1409
This issue is a bit of a puzzle. I ran finish_task on the Transcribe Task that was previously breaking the nudger, and the task finished immediately with a complete transcript. Without the opportunity to recreate the error, I'm not sure there's an immediate solution here. I was also able to download the file from aws, re-upload it, and create a new item with it, which completed all tasks without i

[2016-04-15 01:06] annewootton commented on #1409
Word. Might be something we've fixed in the interim.

[2016-04-15 17:40] annewootton commented on #1400
Run a task to check how many IA items have uppercase file extensions in their URLs. Then probably change them to lowercase.

[2016-04-15 17:48] AndersEverett commented on #1401
Caps ia?

[2016-04-16 00:52] shindostrz commented on #1407
After more investigation, we realized that actually everything is being uploaded just fine, but it takes Cloudfront a few minutes to pick the assets up from the S3 bucket. We are going to ask AWS how to fix this.

[2016-04-17 19:57] baileyspace commented on #1409
Reviving this. I just manually failed task 520410 because it was hanging up the nudger. Same error as previous failure.

[2016-04-18 23:24] baileyspace commented on #1411
Looks good to me.

[2016-04-18 23:26] Saltzshaker commented on #1411
@baileyspace option 1?

[2016-04-18 23:37] baileyspace commented on #1411
Yes, option 1.

[2016-04-19 19:18] annewootton commented on #1388
@shindostrz has a potential fix for this, but when he pulled a fresh database and reindexed his dev environment, the problem went away. so, we should do the same in staging and confirm if the issue persists.

[2016-04-19 20:12] AndersEverett commented on #1400
53313c4

[2016-04-19 20:13] AndersEverett commented on #1392
rake task ready: 46d170a & 7513a33

[2016-04-19 20:36] Saltzshaker commented on #1253
"Emily and team - Thanks for the details, haven't found a simple/easy to fix root cause here. Creating a repro case for the speech team to dig into deeper. Will keep you posted on what they find."

Will retest with SM

[2016-04-19 20:44] Saltzshaker commented on #1400
For testing: Create IA collection in staging and upload an all-caps mp3.

Go to detect derivatives task in superadmin, make sure there's no error that says 1 version not found. should have mp3 and ogg and detected_at timestamp

[2016-04-19 20:46] Saltzshaker commented on #1403
@baileyspace, any ideas for testing this? @AndersEverett isn't sure how to recreate the 'accepted' state, or whether it's a good idea to do so

[2016-04-19 20:49] Saltzshaker commented on #1388
@AndersEverett assign this to me to test when staging is done reindexing

[2016-04-19 20:56] Saltzshaker commented on #1384
@AndersEverett will check to see if the new Sidekiq queue shows up in Sidekiq dashboard after running the American Archives rake task

[2016-04-19 21:00] Saltzshaker commented on #1368
Test for account that has used up 1+ hr on demo in previous month. User's account page should show that it's over the limit and over-limit banner should show up

[2016-04-19 21:11] Saltzshaker opened #1418 "Update Streak/sales spreadsheets for new hire"

[2016-04-19 21:19] annewootton commented on #1407
@shindostrz is either going to have images bypass Cloudfront entirely or try to force a short delay before we try to grab the image from Cloudfront, so it doesn't error and cache the error.

[2016-04-19 22:21] Saltzshaker commented on #1403
@AndersEverett will test this by faking the response in staging and seeing if the report sends.

@AndersEverett can you also double-check that when a voicebase task returns "failed" status we do indeed fire a new transcript, since apparently that didn't happen for these three files from 4/13-4/14? All were stuck in 'working' until I manually fired new transcribe tasks. When I ran 'finish_task' on

[2016-04-19 22:56] annewootton commented on #1403
Also, to clarify for testing: faking the response in staging should be done
via an rspec test.
ᐧ

On Tue, Apr 19, 2016 at 3:21 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-04-19 23:12] Saltzshaker commented on #1368
This user uploaded 1+ hr to the 1hr demo in March and is now over her limit: https://pop-up-archive-staging.herokuapp.com/superadmin/users/3836
![screen shot 2016-04-19 at 4 06 55 pm](https://cloud.githubusercontent.com/assets/8497203/14658543/5fbf96e0-0649-11e6-947e-6cb2ec83e087.png)

![screen shot 2016-04-19 at 4 06 45 pm](https://cloud.githubusercontent.com/assets/8497203/14658540/580e3712-0649

[2016-04-19 23:27] annewootton commented on #1368
I agree that it could be confusing. Let's hide "this month" for demo users.
ᐧ

On Tue, Apr 19, 2016 at 4:12 PM, Emily Saltz <notifications@github.com>
wrote:

[2016-04-19 23:55] Saltzshaker commented on #1400
I uploaded "01_ZeppsXmasGreeting.MP3" (all-caps) to an IA collection. PUA recorded it with lower caps in the extras hash, so problem likely not solved. It will likely fail/cancel itself, since IA will be storing it with all-caps because the initial file has all-caps. @AndersEverett's fix was supposed to store it in the hash with the upper cases. Since it's not, it looks like it’s getting downcased

[2016-04-20 01:08] AndersEverett commented on #1415
7e92a78

[2016-04-20 18:57] AndersEverett commented on #1416
SM API seems to be working mostly normally after preliminary tests. Notes to address:
1) callback error email from sm: URL callback failed
2) received 3 ts confirmation emails for one completed file

[2016-04-20 19:39] AndersEverett opened #1419 "Ensure new vb task is fired when job status is 'failed' at vb."
When a VB task returns 'failed' status, make sure we fire a new transcript, since apparently that didn't happen for these three files from 4/13-4/14? All were stuck in 'working' until I [@saltzshaker] manually fired new transcribe tasks. When I ran 'finish_task' on the initial working tasks, they returned the error: "Cannot finish task where VB status != finished (failed)"
https://www.popuparchive

[2016-04-20 19:45] Saltzshaker commented on #1388
The file from @annewootton's screenshot above is no longer in the Meyerson collection, but another Meyerson file still has a broken image, both on the collection results page and the item page: https://pop-up-archive-staging.herokuapp.com/collections/431
![screen shot 2016-04-20 at 12 44 52 pm](https://cloud.githubusercontent.com/assets/8497203/14688098/be1a1182-06f5-11e6-9385-9598d22a95bf.png)

S

[2016-04-20 20:39] AndersEverett commented on #1403
Since method in rake task relies on checking the remote media object, @baileyspace agrees an rspec test wouldn't effectively check the state necessary to fire off the email. Will test when situation arises in production.

[2016-04-20 22:26] AndersEverett commented on #1400
2723a14 should downcase all extensions on item creation and prevent the case diff with IA.

[2016-04-20 22:49] AndersEverett commented on #1368
2434807 'this month' hidden from community plan account pages.

[2016-04-21 01:31] Saltzshaker commented on #1388
Initial 'challenger' file is showing up now, and has an image, but the 'jim wright' file above, along with a new file (see screenshot) have broken images on item and collection pages.
https://pop-up-archive-staging.herokuapp.com/collections/431
popcast is also still showing broken images on item and collection pages, even though they're working in production https://pop-up-archive-staging.herokuap

[2016-04-21 18:56] Saltzshaker commented on #1400
https://pop-up-archive-staging.herokuapp.com/superadmin/tasks/521112

Detect_derivatives has mp3 and ogg and detected_at timestamps and no errors. Marking ready-to-deploy

[2016-04-21 21:39] Saltzshaker commented on #1368
👍
![screen shot 2016-04-21 at 11 52 46 am](https://cloud.githubusercontent.com/assets/8497203/14725086/d2d6f994-07ce-11e6-91d0-d0c07cc9e496.png)

[2016-04-21 22:11] shindostrz opened #1420 "Change image file model to only return the most recent image"
And/or rethink how we store images so we don't keep unnecessary ones. Also, look into storage configurations that have defunct bucket names.

[2016-04-21 22:13] shindostrz commented on #1388
The Popcast images appeared broken because we had the wrong CDN URL in staging. They're fixed now.

[2016-04-21 22:32] Saltzshaker commented on #1388
@shindostrz cool, thanks! did you look into the other broken Meyerson images? (Live from the Heartland and U.S. House Speaker Jim Wright?)

[2016-04-21 22:40] annewootton commented on #1388
As of today's standup he was fixing Meyerson manually, probably as we speak, and also taking care of the Cloudfront issues once and for all (#1407)

[2016-04-21 23:11] AndersEverett commented on #1384
Sidekiq queue for low-priority batching is now visible in dashboard with : 5017d8d

[2016-04-21 23:13] Saltzshaker commented on #1388
Ah, right. @shindostrz, you're fixing the Meyerson images manually in production I take it? Meaning this is ready-to-deploy?

[2016-04-22 00:44] annewootton commented on #1388
Checked with @shindostrz — let's wait till Meyerson is fixed; he'll mark ready-to-deploy.

[2016-04-22 00:47] AndersEverett commented on #1384
I removed ready-to-deploy from this. While the batch queue is populating with tasks from newly created items, these tasks aren't completing in staging. More testing needed.

[2016-04-22 01:02] AndersEverett commented on #1384
Will test in production.

[2016-04-22 02:11] shindostrz commented on #1388
The timeout solution works, but there's some intermediate broken-looking image stuff happening before it automatically refreshes that we might want to try and get rid of so we don't confuse people.

[2016-04-22 02:36] shindostrz opened #1421 "Make sure users' buckets are all 'www-prod-popuparchive'"
Meyerson's collection contained storage configurations with old buckets that no longer exist.

[2016-04-22 17:00] annewootton commented on #1388
Great; this speaks to #1407 as well. We can open a separate ticket for the intermediate broken-looking image stuff.

[2016-04-22 17:00] annewootton commented on #1407
See #1388.

[2016-04-22 17:08] annewootton commented on #1388
Telling Meyerson to re-upload "Live From The Heartland" which is the one image that got lost in this shuffle.

[2016-04-22 19:32] #1368 closed

[2016-04-22 19:32] #1380 closed

[2016-04-22 19:32] #1388 closed

[2016-04-22 19:32] #1400 closed

[2016-04-22 19:32] #1403 closed

[2016-04-22 19:32] #1407 closed

[2016-04-23 00:39] AndersEverett commented on #1419
This seems like a situation where vb failed at the moment the nudger broke. The first task has retrieved the failure message from the vb media object, but the second and third never did. So, it looks like recover was called by the nudger on the first item, but then the transcript_check rake never hit any of them. I've added check_task to the recover method so that the audio files with the failed/r

[2016-04-23 02:39] annewootton opened #1422 "Old audio from feeds processing due to URLs with underscores now being accepted"
Customer alerted us that they received dozens of transcript completion alerts today — looks like many old items (i.e. from 2014) from feeds created new items and processed. See https://www.popuparchive.com/superadmin/collections/4263/items/57529 for example.

@baileyspace Upon further inspection, looks like these items all have underscores in the URLs. So: probably because of the fix we put in to

[2016-04-25 17:02] annewootton opened #1423 "Send WGBH word-level time alignment samples"
@AndersEverett knows which items (there are 10) to send. @baileyspace can show him where they are.

[2016-04-25 17:02] annewootton commented on #1422
Options:

1) Mark these collections transcribe_false for a day while any additional items come in?
2) Run the rake task without actually creating items and see how many more items we risk creating if we up their limit?

[2016-04-25 19:04] baileyspace commented on #1422
Put in an argument for oldest entry for monitor feed. @Saltzshaker, so you should be able to up the user's limit now.

[2016-04-25 19:04] #1422 closed

[2016-04-25 19:48] Saltzshaker opened #1424 "Crazy org usage on account page"
Viewing as an org member, I noticed that the org monthly usage numbers are very odd. @AndersEverett can you look into where these numbers are coming from?
![screen shot 2016-04-25 at 12 42 46 pm](https://cloud.githubusercontent.com/assets/8497203/14796760/d5f457d0-0ae3-11e6-8171-48ee60634f79.png)

Viewing as https://www.popuparchive.com/superadmin/users/1075
(looked the same on the 100 plan too)

[2016-04-25 20:33] AndersEverett opened #1425 "Save word-level time alignment to transcript table."
Enable provision of word-level time alignments like 'text' in Audiosear.ch.

[2016-04-25 22:50] AndersEverett commented on #1423
Sent. Also added a ticket to store these on the Transcript object. #1425

[2016-04-27 00:29] AndersEverett commented on #1424
3f40b64 & 83c081f

[2016-04-27 00:36] Saltzshaker commented on #1424
Tested on a few org member account pages and looked good to me!

[2016-04-27 16:44] #1423 closed

[2016-04-27 17:29] AndersEverett commented on #1421
Find all audio files with old bucket storage and see if they are available.

[2016-04-27 17:46] Saltzshaker commented on #1424
@AndersEverett deployed straight to master

[2016-04-27 17:46] #1424 closed

[2016-04-27 23:25] baileyspace commented on #1348
After updating ffmpeg in Fixer, we're still not getting a duration for mp4s. However, we do get duration from transcode tasks that normally complete within seconds of the analyze task. Is there any reason to block the analyze task from completing given that it will be set in transcode? Maybe #1209 or #842?

[2016-04-28 22:02] baileyspace commented on #1364
Put in a support request with MailChimp to see what our options are for adding user directly to a segment on signup.

[2016-04-29 17:29] AndersEverett opened #1426 "Make sure :remote_file_url is set on url files"

[2016-04-29 17:30] AndersEverett opened #1427 "Hold premium transcript creation on files with :remote_file_url so that CopyTask completes first"

[2016-04-29 19:29] Saltzshaker opened #1428 "Make custy reports downloadable as .csv"
If we could access the customer reports as CSVs with columns for all of the fields, compiling the demo conversion report would be much easier (as opposed to copying and pasting the data from the email and manually breaking the data into columns).

Format CSVs for:
* PUA Customer Subscription Event Report
* PUA New Customer Report
[Demo Conversion Report spreadsheet](https://docs.google.com/spreads

[2016-04-29 20:52] AndersEverett commented on #1427
00b8c27. pushed to production.

[2016-05-02 16:56] Saltzshaker commented on #1375
https://docs.google.com/spreadsheets/d/1gZLJzsgf6-2oYdvHm7M2L7FkPo2z1Enm7R6WK0DwaZc/edit

[2016-05-02 16:56] #1375 closed

[2016-05-02 17:21] AndersEverett commented on #1384
Fixed with 7ee54ef

[2016-05-02 17:27] AndersEverett commented on #1426
This isn't actually a persisted attribute, but a setter method instead. The original problem should be fixed with the solution applied to #1427.

[2016-05-02 17:32] #1426 closed

[2016-05-02 18:06] annewootton commented on #1392
Specifically: update rake task to work w/ SM batching specification.

[2016-05-02 18:12] annewootton commented on #1404
Limit to five.

[2016-05-02 18:16] annewootton commented on #1383
Won't fix pending integration of American Archive editor.

[2016-05-02 18:16] #1383 closed

[2016-05-02 18:18] baileyspace commented on #1364
From mailchimp: Thanks for reaching out to support. I understand that you want to add segments to the sign up process. I would be happy to clear that up. Groups are going to be the only way to do this. However there are a couple of other way to add them to a segment as well. Through the application, you can create an auto updating segment with the conditions of your choice, or if you want to do th

[2016-05-02 18:19] annewootton commented on #1371
Won't fix pending American Archive editor integration.

[2016-05-02 18:19] #1371 closed

[2016-05-02 19:31] Saltzshaker commented on #1415
"The sample is actually a TTML file and not WebVTT despite the file extension." @AndersEverett, looks like this needs to be revisited

[2016-05-02 20:05] annewootton opened #1429 "Wireframe new pricing page"
@Saltzshaker knows what's up. Not putting it in this public repo. :-D

[2016-05-02 20:37] Saltzshaker commented on #1378
One (identified) speaker file now prints multiple timestamps
![screen shot 2016-05-02 at 1 34 15 pm](https://cloud.githubusercontent.com/assets/8497203/14967196/04198c84-106b-11e6-86f7-47983455202a.png)

[2016-05-02 22:56] AndersEverett commented on #1415
5e9fe2e registered vtt as a mime type in app initializers.

[2016-05-03 01:23] shindostrz commented on #1389
What I am seeing is:
1) Drag & drop is working normally from Finder in Audition (not possible inside app), but in Premiere it doesn't work from within the application or from Finder.
2) The log in page for Twitter doesn't allow you to type most keyboard characters in Audition (that's how I log in to PUA) but it works if you go to the Twitter sign up page, log in instead, and then go back to PUA.
3

[2016-05-03 01:32] annewootton commented on #1389
Discussed with @shindostrz and here are action items:

1) @shindostrz to troubleshoot drag and drop not working in Premiere
2) @shindostrz to write Durin and Charles about WTF is up with Twitter login for Audition
3) @shindostrz will troubleshoot the Audition scrubber issue.

Once these issues have been further explored we can write back to this user and see if he is still experiencing the behavio

[2016-05-03 17:47] annewootton opened #1430 "Private file not found error"
[code]

[2016-05-03 17:48] annewootton commented on #1430
We think this is a filename issue.

[2016-05-04 23:53] Saltzshaker commented on #1419
@AndersEverett is going to test this, cuz he knows what's up

[2016-05-05 00:38] AndersEverett commented on #1417
af21c59 This has been tested in staging.

[2016-05-09 19:25] AndersEverett opened #1431 "Improve webvtt transcript format: parse escape characters and address one-word lines."
In particular, the apostrophe sequence is not being parsed: &#39. Check for others as well.

[2016-05-09 20:09] baileyspace opened #1432 "Long-running transcribe job email bug"
If task is "working" then `needs_transcript?` returns `false` so the conditions to send alert email are never met.

[2016-05-09 23:19] #1378 closed

[2016-05-09 23:19] #1384 closed

[2016-05-09 23:19] #1415 closed

[2016-05-09 23:19] #1417 closed

[2016-05-09 23:19] #1419 closed

[2016-05-09 23:19] #1427 closed

[2016-05-10 19:31] baileyspace opened #1434 "Investigate transcript alignment for NYPL"

[2016-05-11 18:24] Saltzshaker opened #1435 "Add new pua dev to router"
popuparchive.com/developer is throwing a 404 error. check the "devs" footer link works after adding to it to the router. commit ASAP and deploy to master.

[2016-05-13 18:11] #1434 closed

[2016-05-16 18:38] baileyspace opened #1436 "Python sdk tries to write to the directory "PopUpArchive""
python sdk has a broken paths
installation for your sdk is broken
it tries to write to the directory "PopUpArchive"
while it creates "popuparchive"

[2016-05-16 20:04] Saltzshaker opened #1437 "Upload/URL download not working for Python SDK?"
Potential customer is testing out PUA through the Python SDK:

"We would like to direct your attention that the "upload" is missing in the python SDK

...our team just attempted to provide the SDK a URL link for download and received an error message:
file not found
(even though the file is there)"

[2016-05-16 20:04] Saltzshaker commented on #1436
@baileyspace put in a fix

[2016-05-16 20:04] #1436 closed

[2016-05-18 23:33] AndersEverett commented on #1421
There were 4 audio files with dead bucket names ('pop-up-archive'). Two of these (7879,  7886) are 404 pages. The third, 7885, plays(from IA)/has ts, and there's no copy of it in www-prod-popuparchive. The last, 48759, didn't play; but once the token and bucket were set correctly, it was fixed. Closing ticket.

[2016-05-19 00:17] annewootton commented on #1421
Check image files too plz!

[2016-05-19 23:23] baileyspace commented on #1364
Switched from gibbon to mailchimp-api gem, moved Mailchimp jobs to a worker, added segment info on signup and plan change.

[2016-05-20 01:22] AndersEverett commented on #1421
All images with bad buckets pointed to 'www-prod-popuparchive.'

[2016-05-20 01:22] #1421 closed

[2016-05-20 16:30] Saltzshaker opened #1438 "Typing "(" in transcript editor jumps to next line"
Reported by user. Change transcript editing key bindings so that "(" can be typed into the editor

[2016-05-20 18:08] baileyspace opened #1439 "Create separate admin view for batch process audio files"
and exclude them from the main audio files view

[2016-05-20 21:00] baileyspace commented on #1363
Took a peek at this, and it looks like it should have been resolved by the fix for #1368. Assigning to @Saltzshaker to verify.

[2016-05-20 21:28] baileyspace commented on #1437
Just gave this a shot and didn't have any problems (see af 69867). I can do some more troubleshooting if you have them send the url they used.

[2016-05-23 16:25] Saltzshaker commented on #1363
Yep! Looks like users who have uploaded 1+ hours (either for the current month or in past months) are showing up with a property of "True" for "Is over their monthly limit" in Mixpanel. Supposedly only 137 plans are in this state, which seems low, but plausible? @baileyspace do you need to run a new Rake task or anything to make sure this property is updated for all users?

[2016-05-23 18:06] Saltzshaker commented on #1435
the "devs" footer link now works

[2016-05-23 18:06] #1435 closed

[2016-05-23 18:43] Saltzshaker commented on #1437
@baileyspace I emailed and asked about the url that they used. What about the "upload" button in the python SDK? Does this still need to be added?

[2016-05-23 18:45] Saltzshaker commented on #1364
@baileyspace what's the best way for me to test this?

[2016-05-23 18:59] Saltzshaker commented on #1437
From customers: "We were able to work with Ruby and are in testing"

They must have read the README ;)

[2016-05-23 19:35] Saltzshaker commented on #1363
Mixpanel: "It actually looks like your account is well within the Free threshold for the people plan so you should have no trouble accessing the People section of Mixpanel currently. In general, though, you can always import data to your project and it will be collected normally even while you're blocked - it's just accessing the reports that is restricted until the following month."

So @baileysp

[2016-05-23 20:06] baileyspace commented on #1363
running rake users:mixpanel_update

[2016-05-23 20:34] Saltzshaker commented on #1363
Cool. It's now up to 330. Spot-checked some recent over-limit users and took a look at the demo conversion spreadsheet and everything looks pretty legit. Closing, since it's already live

[2016-05-23 20:34] #1363 closed